*{
    box-sizing: border-box;
}
body{
    background-color: #FDEACA;
}
img{
    background-color: #FDEACA;
}
#addTask{
    border: none;
    background-color: #FDEACA;
    border-radius: 50%;
}
#addTask:hover{
    opacity: 85%;
}
#addition{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.wrapper{
    word-wrap: break-word;
    width: 1000px;
}
.taskText{
    font-size: 17px;
}
.task{
    margin: 10px 0px;
}
.lineThrow{
    text-decoration: line-through;
}
